h2 {
    color: whitesmoke;
    text-align: center;
    border: solid 2px;
}

div.task-info:last-child {
    margin-bottom: 2%;
}

h2 button {
    background-color: transparent;
    border: 1px solid whitesmoke;
    float: right;
    margin-right: 0.3%;
    margin-top: 0.2%;
}

p {
    text-align: center;
    color: white;
}
