:root {
    --black:  rgb(43, 41, 41);
    --purple: #9147ff;
}

body {
    margin: 0;
}

div.app {
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 10%;
    background-color: var(--black);
}
